@font-face {
  font-family: 'ProRegular';
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/TTNormsProRegular.otf)
  }

  @font-face {
  font-family: 'ProLight';
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/TTNormsProLight.otf); 
  }

  @font-face {
  font-family: 'ProMedium';
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/TTNormsProMedium.otf);
  }
  

  @font-face {
  font-family: 'ProBold';
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/TTNormsProBold.otf);
  }

